body {
  
  margin:0;
  padding:20px 10px;
  text-align:center;
  font-size/* */:/**/small;
  font-size: /**/small;  
  font:small/1.5em "Trebuchet MS",Verdana,Arial,Sans-serif;
  font:85% "Trebuchet MS",Verdana,Arial,Sans-serif;    
  color: #000000
 }

