body {
  
  div.container3 {
   height: 10em;
   position: relative }              /* 1 */
div.container3 p {
   margin: 100px;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
  
 }
