


.container {
    max-width:800px;
    margin:20px auto;
    /*background:#fff;*/
    padding-bottom: 25px;
    /* border-style:solid none; */
    border-width:1px;
    align-items: center;
    justify-content: center;
	
}

.navbar{
		
	display:flex;
	
	justify-content: center;
	
	align-items: content;
	
	background-color: darkgray;
		
	position: sticky;
	
	top:0;
}

.navbar ul{
	display: flex;
	
	list-style: none;
	
	margin: 20px 0px;
}

.navbar ul li{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: whitesmoke;
	padding: 8px 25px;
	transition: all .2s ease;
}

.navbar ul li a:hover{
	background-color: grey;
	box-shadow: 0 0 10px white;		
}


.text {
        font-size: 15px;
        padding-left: 20px;
      }


.aParent div {
    float: left;
    clear: none;
    max-width: 800px;
    resize: none;
    justify-content: center;
}

.profile_text{
	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
	position: relative;
	margin-left: 5px;
	
	margin-top: 5px;
	
	
	
	resize: none;
  	min-width: 350px;
	
	display: flex;
	
	justify-content: center;
	align-items: center;
	
		

}
